<script src="{{ base_path }}/assets/js/main.min.js"></script>

<script type="text/javascript" src="{{ base_path }}/assets/js/TweenMax.min.js"></script>
<script type="text/javascript" src="{{ base_path }}/assets/js/jquery.touchSwipe.min.js"></script>
<script type="text/javascript" src="{{ base_path }}/assets/js/jquery.carouFredSel-6.2.1-packed.js"></script>
<script type="text/javascript" src="{{ base_path }}/assets/js/modernizr.custom.63321.js"></script>
<script type="text/javascript" src="{{ base_path }}/assets/js/jquery.dropdownit.js"></script>
<script type="text/javascript" src="{{ base_path }}/assets/js/jquery.stellar.min.js"></script>
<script type="text/javascript" src="{{ base_path }}/assets/js/ScrollToPlugin.min.js"></script>

<script type="text/javascript" src="{{ base_path }}/assets/js/jquery.mixitup.min.js"></script>
<script type="text/javascript" src="{{ base_path }}/assets/js/masonry.min.js"></script>
<script type="text/javascript" src="{{ base_path }}/assets/js/perfect-scrollbar-0.4.5.with-mousewheel.min.js"></script>
<script type="text/javascript" src="{{ base_path }}/assets/js/magnific-popup.js"></script>
<script type="text/javascript" src="{{ base_path }}/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ base_path }}/assets/js/custom.js"></script>



{% include analytics.html %}
{% include /comments-providers/scripts.html %}
